// colors

$body-bg: #353E57; // dark blue
$nav-container-bg: #000000; // black 
$nav-bg: #2A3043;
$text-color: #ffffff; // white
$link-color:#4183D7;
$link-color-hover:#6BB9F0;

$color-1: #9a57bd; // Amethyst
$color-2: #c96aa4; // Hopbush
$color-3: #555859;//#d6915e; // Di Serria
$color-4: #5397c7; // Danube
$color-5: #77cd91; // De York
$color-white:#fff; //white color
$color-1-xtype: #aebcb9; // Tower Gray
$color-3-xtype: #0d0d0d; // Cod Gray
$footer-bg-color:#3e444f;
$footer-font-color:#c1c4ca;
$color-section-white:#eff0f4; //white-sand bg

$color-1-bluelight: #dbe2e9; // blue light
$color-2-green: #89ba2c; // green
$color-3-bluedark: #424f5c; // blue dark
$color-4-white: #ffffff; // white

$color-skybluefooter: #009ed6;

// fonts 

$primary-font: 'Open Sans', sans-serif;

// navigation

$nav-height-S: 80px;
$nav-height-M: 170px;
$nav-items: 5;

// animation 

$animation-duration: 0.5s;
$expand-animation-duration: .4s;


// panel size

$panel-width-S: 90%;
$panel-width-M: 70%;
$panel-width-L: 50%;